@import './constants.scss';

.buttons {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin: 0 auto;
  // padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  // background-color: $bg;
}

.btn {
  padding: 10px 30px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid $bg-hover;
  &:hover {
    cursor: pointer;
    background-color: $bg-hover;
  }
}