@import './constants.scss';

h1 {
  // box-shadow: $greyShadow;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  background-color: $bg;
  margin-bottom: 10px;
}

.info-block {
  display: flex;
  justify-content: space-between;
}