.coins-table {
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid  rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  // text-transform: capitalize
  text-transform: uppercase;
}

thead {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bolder;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
  font-size: 14px;
}

td, th {
  text-align: left;
  color: #fff;
  font-weight: bolder;
  padding: 15px;
}

td {
  border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
  font-size: 14px;
}

.td-coin {
  text-align: left;
}

.icon-coin {
  width: 25px;
  transform: translateY(5px);
}

.row:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 0px 0px 1px #eee, 0px 0px 0px 1px #eee;
}

.change-down {
  background-color: rgba(151, 20, 20, 0.1);
}
.change-up {
  background-color: rgba(26, 226, 26, 0.1);
}