$greyShadow: 0px 0px 0px 1px #eee, 0px 0px 0px 1px #eee;
$bg: rgba(255, 255, 255, 0.1);
$bg-hover: rgba(255,255,255, 0.2);
$color: blue;

$fontColor: #ccc;

$red: rgba(255, 0, 127, 0.15);
$green: rgba(57, 255, 20, 0.15);