@import './constants.scss';

.form-container {
  margin-top: 50px;
  padding: 50px;
  padding-bottom: 70px;
  width: 350px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  border: 1px solid  rgba(255, 255, 255, 0.2)
}
h1 {
  color: $fontColor;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}
form {
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  padding: 15px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid  rgba(255, 255, 255, 0.2);
  color: $fontColor;
  transition: all .25s ease-in-out;
  border-radius:4px;
}

input::placeholder {
  color: $fontColor;
}

input:focus,
button:focus {
  outline: none;
}
.btn-submit:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

p {
  color: $fontColor;
}