@import './constants.scss';

.trade-history {
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid  rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
}

thead {
  color: $fontColor;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bolder;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
  font-size: 14px;
}

td, th {
  text-align: left;
  color: $fontColor;
  font-weight: bolder;
  padding: 15px;
}

td {
  border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
  font-size: 14px;
}